

.header {
    background-color: rgb(0, 0, 0);
}

.header_container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 139px;
    width: 426px;
}

.navbar {
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 16px;
}

.navbar_link{
    font-weight:700;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* text-transform: uppercase; */
    cursor: pointer;
}